* {
  box-sizing: border-box;
}

.calendar {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Nav area */
.calendar__controller {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

/* Bottom half of the view */
.calendar__column__wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 3rem);
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
}

.calendar__column__timetsamps {
  position: relative;
  flex: 0 0 2.5rem;
  width: 2.5rem;
  height: 100%;
  background-color: red;
}

.calendar__column {
  position: relative;
  flex: 1 1 auto;
  width: auto;
  height: 100%;
}

.calendar__day {
  position: relative;
  height: auto;
  height: 89px;
  border-bottom: 1px solid black;
}

.calendar__day__name {
  position: relative;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.calendar__day__number-wrapper {
  position: relative;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__day__number {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  font-size: 1.5rem; /* 24px */
  text-align: center;
  border-radius: 1.5rem;
}

.calendar__day__number--today {
  background-color: black;
  color: white;
}

.calendar__time {
  position: relative;
  height: calc(100% - 89px);
  border-right: 1px solid black;
}

.calendar__column:last-child > .calendar__time {
  border-right: none;
}

.calendar__time__map {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.calendar__time__map__hour {
  flex: 1 1 calc(100% / 12);
  width: 100%;
  height: calc(100% / 12);
  border-bottom: 1px solid black;
  position: relative;
}

.calendar__time__map__hour::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: calc(50% - 0.5px);
  left: 0;
  background-color: gray;
}
